{% load static %}
<!DOCTYPE HTML>
<html>
<!-- Login: Admin Password: uidbaltica URL: localhost:8000/admin -->

<head>
    <title>Сайт ЮИД Балтика</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}" />
    </noscript>
</head>

<body class="right-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="">РЦ ЮИД "Балтика"</a></h1>
            <nav id="nav">
                <ul>
                    <li class=""><a href="news">Новости</a></li>
                    <li class=""><a href="events">Мероприятия</a></li>
                    <li class=""><a href="partners">Партнеры</a></li>
                    <!--<li class="submenu">
                        <a href="#">Библиотека ЮИД</a>
                        <ul>
                            <li><a href="page-kroha-and-batya.html">Отец и кроха</a></li>
                            <li><a href="#">Текст</a></li>
                            <li><a href="#">Что-нибудь</a></li>
                            <li><a href="#">Что-то</a></li>
                            <li class="submenu">
                                <a href="#">Ещё</a>
                                <ul>
                                    <li><a href="#">Текст</a></li>
                                    <li><a href="#">Текст</a></li>
                                    <li><a href="#">Текст</a></li>
                                    <li><a href="#">Текст</a></li>
                                    <li><a href="#">Текст</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>-->
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <article id="main">

            <header class="center">
                <div class="center">
                    <img class="center img-norm" src="{% static 'images/пдд.png' %}" alt="" height="400px" width="100px" />
                </div>
            </header>

            <!-- One -->
            <section class="wrapper style4 container">

                <div class="row gtr-150">
                    <div class="col-8 col-12-narrower">

                        <!-- Content -->
                        <div class="content">
                            <section>
                                <a href="#" class="image featured lightly"><img class="image featured" src="{% static 'images/img2.jpg' %}" alt="" /></a>
                                <header>
                                    <h3>О нас</h3>
                                </header>
                                <p>Дорогие друзья!
                                    ЮИДовцы Калининградской области при поддержке региональной Госавтоинспекции в честь 45-летия создания юидовского движения в 2018 году создали региональный центр ЮИД "Балтика".
                                    На сегодняшний день его участниками уже стали больше 20 ведущих отрядов ЮИД. Мы надеемся, что наши ряды будут пополняться, и вместе с вами мы сможем сделать Калининградскую область регионом образцовых участников дорожного движения.</p>
                                <h3>Движение ЮИД</h3>
                                <p>Общероссийское движение Юных Инспекторов Движения существует в России с 1973 года.
                                    <br>
                                    Сегодня в ЮИД входит 34 000 отрядов в 88 субъектах Российской Федерации — это более 450 000 участников в возрасте от 8 до 16 лет.</p>
                                <h3>О сайте</h3>
                                <p>На этом сайте вы сможете найти всю актуальную информацию, связанную с региональным центром "ЮИД Балтика": объявления о различных мероприятиях и конкурсах, свежие новости центра.</p>
                            </section>
                        </div>

                    </div>
                    <div class="col-4 col-12-narrower">

                        <!-- Sidebar -->
                        <div class="sidebar">
                            <section>
                                <header>
                                    <h3>Расчет тормозного пути</h3>
                                </header>
                                <p>Тормозной путь — расстояние, которое проходит транспортное средство с момента срабатывания тормозной системы до полной остановки. Протяжённость тормозного пути зависит от скорости, состояния проезжей части, шин, погодных условий.</p>
                                <form>
                                    <p>Введите скорость автомобиля: <br>
                                        <input type="number" value="0" id="calculate" max="300" min="0">
                                    </p>
                                    <img alt="" src="{% static 'images/35581486.gif' %}" height="90px">
                                    <img alt="" src="{% static 'images/459563839.gif' %}" height="120px">

                                    <p>Ваш тормозной путь на дороге составляет: <br>
                                        <span class="red-bold">
                                            <span class="blue-bold">по сухой</span> <output id="calculate-output-dry">0</output> м<br>
                                            <span class="blue-bold">по влажной</span> <output id="calculate-output-wet">0</output> м<br>
                                            <span class="blue-bold">по снегу</span> <output id="calculate-output-snow">0</output> м<br>
                                            <span class="blue-bold">по льду</span> <output id="calculate-output-ice">0</output> м.
                                        </span>
                                    </p>
                                </form>
                                <footer>
                                    <ul class="buttons">
                                        <li><a href="https://dentauto.ru/raznoe/formula-nahozhdeniya-tormoznogo-puti.html#:~:text=%D0%9A%D0%B0%D0%BA%20%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%BE%2C%20%D0%BF%D1%80%D0%B8%20%D1%80%D0%B0%D1%81%D1%87%D0%B5%D1%82%D0%B5%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D1%83%D1%8E%D1%82,%D0%A4%D1%81%20%E2%80%93%20%D0%BA%D0%BE%D1%8D%D1%84%D1%84%D0%B8%D1%86%D0%B8%D0%B5%D0%BD%D1%82%20%D1%81%D1%86%D0%B5%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%20%D1%81%20%D0%BF%D0%BE%D0%BA%D1%80%D1%8B%D1%82%D0%B8%D0%B5%D0%BC." class="button small">Читать далее</a></li>
                                    </ul>
                                </footer>
                            </section>

                            <section>
                                <a href="#" class="image featured"><img src="{% static 'images/nS0bzF3_LWE.jpg' %}" alt="" /></a>
                                <header>
                                    <h3></h3>
                                </header>
                                <p></p>
                                <footer>
                                </footer>
                            </section>
                        </div>

                    </div>
                </div>
            </section>

            <!-- Two -->
            <section class="wrapper style1 container special">
                <div class="row">
                    <div class="col-4 col-12-narrower">

                        <section>
                            <header>
                                <h3>Узнайте больше о движении</h3>
                            </header>
                            <p>У движения Юных инспекторов движения есть свой собственный сайт, на котором вы сможете ознакомиться с его историей и другой полезной информацей.</p>
                            <footer>
                                <ul class="buttons">
                                    <li><a href="https://юидроссии.рф" class="button small">Узнать больше</a></li>
                                </ul>
                            </footer>
                        </section>

                    </div>
                    <div class="col-4 col-12-narrower">

                        <section>
                            <header>
                                <h3>Also Something</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                            <footer>
                                <ul class="buttons">
                                    <li><a href="#" class="button small">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>

                    </div>
                    <div class="col-4 col-12-narrower">

                        <section>
                            <header>
                                <h3>Probably Something</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                            <footer>
                                <ul class="buttons">
                                    <li><a href="#" class="button small">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>

                    </div>
                </div>
            </section>

        </article>

        <!-- Footer -->
        <footer id="footer">

            <ul class="icons">
                <li><a href="https://vk.com/yuid_baltika39" class="icon brands circle fa-vk"><span class="label">VK</span></a></li>
                <li><a href="https://www.facebook.com/yuidbaltika39/" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/yuid_baltika39/ " class="icon brands circle fa-instagram"><span class="label">Instagrsm</span></a></li>
                <li><a href="https://github.com/ArkHiMed-tech" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:uid_baltika@mail.ru" class="icon brands circle fa-envelope"><span class="label">Email</span><i class="far fa-envelope"></i></a></li>
                <li><a href="https://www.google.ru/maps/place/%D0%9C%D0%90%D0%A3%D0%94%D0%9E+%D0%A1%D0%AE%D0%A2/@54.708969,20.5273649,19z/data=!3m1!4b1!4m5!3m4!1s0x46e31799961269c7:0x1da1379d777fa29b!8m2!3d54.7089682!4d20.5279122" class="icon brands circle fa-map-marker-alt"><span class="label">Email</span><i class="fas fa-map-marker-alt"></i></a></li>
            </ul>

        </footer>

    </div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollgress.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/calculate.js' %}"></script>

</body>

</html>
