<header id="header">
    <h1 id="logo"><a href="../">РЦ ЮИД "Балтика"</a></h1>
    <nav id="nav">
        <ul>
            <li class=""><a href="about-us.html">О нас</a></li>
            <li class=""><a href="news">Новости</a></li>
            <li class=""><a href="events.html">Мероприятия</a></li>
            <li class=""><a href="contest.html">Конкурсы</a></li>
            <li class=""><a href="partners.html">Партнеры</a></li>
            <!--<li class="submenu">
                <a href="#">Библиотека ЮИД</a>
                <ul>
                    <li><a href="page-kroha-and-batya.html">Отец и кроха</a></li>
                    <li><a href="#">Текст</a></li>
                    <li><a href="#">Что-нибудь</a></li>
                    <li><a href="#">Что-то</a></li>
                    <li class="submenu">
                        <a href="#">Ещё</a>
                        <ul>
                            <li><a href="#">Текст</a></li>
                            <li><a href="#">Текст</a></li>
                            <li><a href="#">Текст</a></li>
                            <li><a href="#">Текст</a></li>
                            <li><a href="#">Текст</a></li>
                        </ul>
                    </li>
                </ul>
            </li>-->
        </ul>
    </nav>
</header>